@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Rubik+Pixels&display=swap');

a{
    font-family: 'Rubik Pixels', system-ui;
    font-weight: lighter;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;
    margin: 20px
}
main{
    margin-left:20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color:rgb(14, 125, 140);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(139, 246, 234);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color:rgb(31, 200, 200);
}

.navbar li{
    float: left;
}